* {
    background: #0e202a;
    align-content: center;
}

.App {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    width: 400px;
    height: 220px;
    justify-content: center;
    border: 3px solid #1cf1f1;
    padding: 30px;
    background: #0e202a;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 650px;
}

.count {

    background-color: #1cf1f1;
    width: auto;
    border-radius: 10px;
    text-align: center;
    font: bold 90px/1.5 Bodoni Bd BT sans-serif;
}

.bgButton {
    border: 2px solid #1cf1f1;
    border-radius: 15px;
    margin-top: 20px;
    height: 70px;
    background-color: #0e202a;
    text-align: center;
}

.button {
    background-color: #1cf1f1;
    margin: 15px;
    padding: 0;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font: bold 35px Arial sans-serif;
}


.button:hover {
    box-shadow: 0 0 10px #1cf1f1;
}

.red {
    color: red;
}

